body{background-image:url(../images/patterns/pt9.png);
    background-repeat:repeat;}

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }
    .gallery img {
        max-width: 100%;
        margin: 0 2px;
        border: 1px solid black;
        float: left;
        }